<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K22411CReview"
        tools:targetApi="31">

        <!-- Screen D: About -->
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <!-- Screen C: Add Product (sai tên class bị gõ nhầm 'Actitivy' -> 'Activity') -->
        <activity
            android:name=".AddProductActitivy"
            android:exported="false" />

        <!-- Screen B: List of Products -->
        <activity
            android:name=".ListProductActivity"
            android:exported="false" />

        <!-- Screen A: Login screen (màn hình khởi động) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
